:root {
  --maincolor: #e6ecf1;
  --accent: #294563;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  word-break: break-word;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--maincolor);
}

.book {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  height: 100vh;
  height: 100svh;
  height: 100dvh;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

section.navbar {
  padding: 0 16px;
  margin: auto;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  background-color: var(--accent);
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 0 8px 2px;
  z-index: 100;
}

.navbar #year {
  display: flex;
  gap: 24px;
}

#dropopen {
  margin-left: auto;
  margin-right: 48px;
  font-weight: 600;
}

#bookselekt {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%); /* horizontal zentriert */

  z-index: 90;

  background-color: var(--accent);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 16px 4px;
  gap: 16px;

  width: 80%;
  min-height: 16px;
  padding: 8px;

  transition: transform 0.3s ease-in;
}

#bookselekt.open {
  transform: translate(-50%, 48px);
}

.fachrichtung {
  color: var(--maincolor);
  font-weight: 600;
  margin: 8px 0 4px 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.fachrichtung h4 {
  margin-bottom: 0;
  margin-top: 4px;
}

.fachrichtung a {
  font-weight: 300;
}

a {
  color: var(--maincolor);
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
}

a.active {
  filter: brightness(200%);
  font-weight: 600;
}

#linkedsite {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#iframe-catcher {
  position: fixed;
  inset: 0;
  z-index: 50; /* unter Navbar, über iframe */
  background: transparent;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .navbar #year {
    flex-direction: column;
    gap: 8px;
  }
  section.navbar {
    height: 128px;
  }
  #dropopen {
    margin-top: -64px;
  }
  #linkedsite {
    position: fixed;
    top: 42px;
    left: 70%;
    text-align: end;
    width: 50%;
  }
  #bookselekt.open {
    transform: translate(-50%, 128px);
  }
  .book {
    height: calc(100vh - 80px);
    height: calc(100svh - 80px);
    height: calc(100dvh - 80px);
    top: 80px;
  }
}
